<?xml version="1.0"?>
<config>
	<modules>
		<Checkoutcom_Ckopayment>
			<version>3.0.6</version>
		</Checkoutcom_Ckopayment>
	</modules>
	<global>
		<models>
			<ckopayment>
				<class>Checkoutcom_Ckopayment_Model</class>
				<resourceModel>ckopayment_resource</resourceModel>
			</ckopayment>
			<ckopayment_resource>
				<class>Checkoutcom_Ckopayment_Model_Resource</class>
				<entities>
					<customercard>
						<table>ckopayment_cards</table>
					</customercard>
				</entities>
			</ckopayment_resource>
		</models>
		<helpers>
			<ckopayment>
				<class>Checkoutcom_Ckopayment_Helper</class>
			</ckopayment>
		</helpers>
		<blocks>
			<ckopayment>
				<class>Checkoutcom_Ckopayment_Block</class>
			</ckopayment>
		</blocks>
		<events>
			<sales_order_place_after>
				<observers>
					<ckopayment>
						<class>ckopayment/observer</class>
						<method>setNewOrderStatus</method>
					</ckopayment>
				</observers>
			</sales_order_place_after>
			<controller_front_init_before>
				<observers>
					<ckopayment>
						<class>ckopayment/autoloader</class>
						<method>controllerFrontInitBefore</method>
					</ckopayment>
				</observers>
			</controller_front_init_before>
		</events>
		<resources>
			<ckopayment_setup>
				<setup>
					<module>Checkoutcom_Ckopayment</module>
				</setup>
			</ckopayment_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<ckopayment>
					<file>checkoutcom.xml</file>
				</ckopayment>
			</updates>
		</layout>
		<routers>
			<ckopayment>
				<use>standard</use>
				<args>
					<module>Checkoutcom_Ckopayment</module>
					<frontName>ckopayment</frontName>
				</args>
			</ckopayment>
		</routers>
	</frontend>
	<default>
		<payment>
			<checkoutcomconfig>
				<payment_action>authorize</payment_action>
				<ckocom_card_autocap>1</ckocom_card_autocap>
				<ckocom_card_delay>0</ckocom_card_delay>
				<ckocom_order_authorised>pending</ckocom_order_authorised>
				<ckocom_order_captured>processing</ckocom_order_captured>
				<ckocom_order_flagged>suspected_fraud</ckocom_order_flagged>
				<ckocom_order_refunded>complete</ckocom_order_refunded>
				<ckocom_order_voided>dont_change</ckocom_order_voided>
				<ckocom_create_invoice>1</ckocom_create_invoice>
				<ckocom_credit_memo>1</ckocom_credit_memo>
			</checkoutcomconfig>
			<checkoutcomcards>
				<active>0</active>
				<model>ckopayment/checkoutcomCards</model>
				<cctypes>AE,VI,MC,DI</cctypes>
				<title>Pay by Card with Checkout.com</title>
				<payment_action>authorize</payment_action>
				<ckocom_card_desctiptor>0</ckocom_card_desctiptor>
				<ckocom_card_mada>0</ckocom_card_mada>
				<ckocom_card_saved_title>Use your saved cards:</ckocom_card_saved_title>
				<ckocom_card_saved_label>Save this card</ckocom_card_saved_label>
			</checkoutcomcards>
			<checkoutcomapms>
				<active>0</active>
				<title>Alternative Payments</title>
				<model>ckopayment/checkoutcomApms</model>
				<payment_action>authorize</payment_action>
				<cctypes>AE,VI,MC,DI</cctypes>
			</checkoutcomapms>
			<checkoutcomapplepay>
				<active>0</active>
				<title>Apple Pay</title>
				<model>ckopayment/checkoutcomApplePay</model>
				<payment_action>authorize</payment_action>
				<cctypes>AE,VI,MC,DI</cctypes>
			</checkoutcomapplepay>
			<checkoutcomgooglepay>
				<active>0</active>
				<title>Google Pay</title>
				<ckocom_google_merchant_id>01234567890123456789</ckocom_google_merchant_id>
				<model>ckopayment/checkoutcomGooglePay</model>
				<payment_action>authorize</payment_action>
				<cctypes>AE,VI,MC,DI</cctypes>
			</checkoutcomgooglepay>
		</payment>
	</default>
	<adminhtml>
		<layout>
			<updates>
				<payment>
					<file>checkoutcom.xml</file>
				</payment>
			</updates>
		</layout>
		<events>
			<controller_action_postdispatch_adminhtml_sales_order_voidPayment>
				<observers>
					<ckopayment>
						<class>ckopayment/observer</class>
						<method>setVoidOrderStatus</method>
					</ckopayment>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_voidPayment>
			<controller_action_postdispatch_adminhtml_sales_order_invoice_save>
				<observers>
					<ckopayment>
						<class>ckopayment/observer</class>
						<method>setCaptureOrderStatus</method>
					</ckopayment>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_invoice_save>
			<controller_action_postdispatch_adminhtml_sales_order_creditmemo_save>
				<observers>
					<ckopayment>
						<class>ckopayment/observer</class>
						<method>setRefundOrderStatus</method>
					</ckopayment>
				</observers>
			</controller_action_postdispatch_adminhtml_sales_order_creditmemo_save>
		</events>
	</adminhtml>
</config>