<?xml version="1.0" ?>
<config>
	<sections>
		<payment>
			<!--General group -->
			<groups>
				<checkoutcom_group_all_in_one>
					<expanded>0</expanded>
					<sort_order>2000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<frontend_class>complex</frontend_class>
					<frontend_model>ckopayment/adminhtml_system_config_fieldset_method</frontend_model>
					<activity_path/>
					<fields>
						<checkoutcomconfig type="group" translate="label comment tooltip">
							<label>Configuration</label>
							<sort_order>2001</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<expanded>0</expanded>
							<fields>
								<heading_core_settings translate="label">
									<label>Core Settings</label>
									<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
									<sort_order>2</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</heading_core_settings>
								<ckocom_environment translate="label">
									<label>Environment</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_environment
									</source_model>
									<sort_order>3</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</ckocom_environment>
								<ckocom_sk translate="label">
									<label>Secret Key*</label>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<sort_order>4</sort_order>
									<comment>
									<![CDATA[You can
									<a href="https://docs.checkout.com/docs/business-level-administration#section-view-api-keys" target="_blank">find your key.</a> in the Checkout Hub]]>
									</comment>
								</ckocom_sk>
								<ckocom_pk translate="label">
									<label>Public Key*</label>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<sort_order>5</sort_order>
									<comment>
									<![CDATA[You can <a href="https://docs.checkout.com/docs/business-level-administration#section-view-api-keys" target="_blank">find your key.</a> in the Checkout Hub]]>
									</comment>
								</ckocom_pk>
								<ckocom_psk translate="label">
									<label>Private Shared Key*</label>
									<frontend_type>text</frontend_type>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<sort_order>6</sort_order>
									<comment>
									<![CDATA[You need to <a href="https://docs.checkout.com/docs/business-level-administration#section-manage-webhook-url" target="_blank">configure your Webhook URL</a> in the Checkout Hub to get this. The URL follows this format: {example.com}<strong>/ckopayment/api/webhook/</strong>]]>
									</comment>
								</ckocom_psk>
								<paymet_action_settings translate="label">
									<label>Payment Actions Settings</label>
									<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
									<sort_order>7</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</paymet_action_settings>
								<ckocom_card_autocap translate="label">
									<label>Payment Action</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_paymentaction
									</source_model>
									<sort_order>8</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</ckocom_card_autocap>
								<ckocom_card_delay translate="label">
									<label>Capture Delay</label>
									<frontend_type>text</frontend_type>
									<sort_order>9</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>The delay in hours (0 means immediately, 1.2 means one hour and 30 min)</comment>
									<depends>
										<ckocom_card_autocap>1</ckocom_card_autocap>
									</depends>
								</ckocom_card_delay>
								<heading_order_management_settings translate="label">
								<label>Order Management Settings</label>
								<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
								<sort_order>10</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
								</heading_order_management_settings>
								<ckocom_order_authorised translate="label">
									<label>Authorised Order Status</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
									<sort_order>11</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									Select the status that should be used for orders with successful payment authorisation
									</comment>
								</ckocom_order_authorised>
								<ckocom_order_captured translate="label">
									<label>Captured Order Status</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_order_status</source_model>
									<sort_order>12</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									Select the status that should be used for orders with successful payment capture
									</comment>
								</ckocom_order_captured>
								<ckocom_order_flagged translate="label">
									<label>Flagged Order Status</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_flaggedstatus
									</source_model>
									<sort_order>13</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>Select the status that should be used for flagged orders</comment>
								</ckocom_order_flagged>
								<ckocom_order_refunded translate="label">
									<label>Refunded Order Status</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_order_status</source_model>
									<sort_order>14</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									Select the status that should be used for new orders with successful payment refund
									</comment>
								</ckocom_order_refunded>
								<ckocom_order_voided translate="label">
									<label>Voided Order Status</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_voidedstatus
									</source_model>
									<sort_order>15</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>Select the status that should be used for voided orders</comment>
								</ckocom_order_voided>
								<ckocom_create_invoice translate="label" >
									<label>Automatically generate Invoice</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>16</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Create invoice automatically if payment action is set to "Authorised and Capture in Checkout.com - Card Payments section."]]>
									</comment>
								</ckocom_create_invoice>
								<ckocom_credit_memo translate="label" >
									<label>Automatically generate Credit Memo</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>17</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Create credit memo automatically if payment is refunded from Checkout.com hub."]]>
									</comment>
								</ckocom_credit_memo>
							</fields>
						</checkoutcomconfig>
						<checkoutcomcards type="group" translate="label comment tooltip">
							<label>Card Payments</label>
							<sort_order>2002</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<expanded>0</expanded>
							<fields>
								<active translate="label" >
									<label>Enabled</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>1</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Make sure you have completed the <strong>Core Settings</strong> in the <strong>Checkout.com Configuration</strong> module before you enable Card Payments]]>
									</comment>
								</active>
								<title translate="label">
									<label>Payment Option Title</label>
									<frontend_type>text</frontend_type>
									<sort_order>8</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>This is the title of the payment option displayed in the checkout page</comment>
									<depends>
										<active>1</active>
									</depends>
								</title>
								<ckocom_card_threed translate="label">
									<label>Use 3D Secure</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>9</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[See more about <a href="https://docs.checkout.com/docs/3-d-secure">3D Secure.</a>]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_card_threed>
								<ckocom_card_notheed translate="label">
									<label>Attempt non-3D Secure</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Downgrade 3D Secure transactions for cards that do not support it.
									<a href="https://docs.checkout.com/docs/3-d-secure">(see implications)</a>]]>
									</comment>
									<depends>
									<active>1</active>
										<ckocom_card_threed>1</ckocom_card_threed>
									</depends>
								</ckocom_card_notheed>
								<ckocom_card_saved translate="label">
									<label>Enable Save Cards</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>11</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Allow customers to save cards for future payments]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_card_saved>
								<ckocom_card_saved_title translate="label">
									<label>Saved Cards Option Title</label>
									<frontend_type>text</frontend_type>
									<sort_order>12</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[This is the prefix of a saved card displayed in the checkout page]]>
									</comment>
									<depends>
										<active>1</active>
										<ckocom_card_saved>1</ckocom_card_saved>
									</depends>
								</ckocom_card_saved_title>
								<ckocom_card_saved_label translate="label">
									<label>Saved A Card Option</label>
									<frontend_type>text</frontend_type>
									<sort_order>13</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[This is the prefix of a saved card displayed in the checkout page]]>
									</comment>
									<depends>
										<active>1</active>
										<ckocom_card_saved>1</ckocom_card_saved>
									</depends>
								</ckocom_card_saved_label>
								<ckocom_require_cvv translate="label">
									<label>Require CVV For Saved Cards</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>14</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
										<ckocom_card_saved>1</ckocom_card_saved>
									</depends>
								</ckocom_require_cvv>
								<ckocom_card_desctiptor translate="label">
									<label>Enable Dynamic Descriptor</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>15</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_card_desctiptor>
								<ckocom_card_desctiptor_name translate="label">
									<label>Descriptor Name</label>
									<frontend_type>text</frontend_type>
									<sort_order>16</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<validate>validate-length maximum-length-25</validate>
									<comment>
									<![CDATA[Maximum 25 characters]]>
									</comment>
									<depends>
										<active>1</active>
										<ckocom_card_desctiptor>1</ckocom_card_desctiptor>
									</depends>
								</ckocom_card_desctiptor_name>
								<ckocom_card_desctiptor_city translate="label">
									<label>Descriptor City</label>
									<frontend_type>text</frontend_type>
									<sort_order>17</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<validate>validate-length maximum-length-13</validate>
									<comment>
									<![CDATA[Maximum 13 characters]]>
									</comment>
									<depends>
										<active>1</active>
										<ckocom_card_desctiptor>1</ckocom_card_desctiptor>
									</depends>
								</ckocom_card_desctiptor_city>
								<ckocom_card_mada translate="label">
									<label>Enable MADA Bin Check</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>18</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[For processing MADA transactions, this option needs to be set to Yes]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_card_mada>
							</fields>
						</checkoutcomcards>
						<checkoutcomapms type="group" translate="label comment tooltip">
							<label>Alterative Payments</label>
							<sort_order>2003</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<expanded>0</expanded>
							<fields>
								<active translate="label">
									<label>Enable</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>2</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Make sure you have completed the <strong>Core Settings</strong> in the <strong>Checkout.com Configuration</strong> module before you enable Alternative Payments]]>
									</comment>
								</active>
								<title translate="label">
									<label>Alternative Payment Option Title</label>
									<frontend_type>text</frontend_type>
									<sort_order>3</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[This is the title of the payment option displayed in the checkout page]]>
									</comment>
									<depends>
										<ckocom_apms_enable>1</ckocom_apms_enable>
									</depends>
								</title>
								<ckocom_apms_selector translate="label">
									<label>Alternative Payment Methods</label>
									<frontend_type>multiselect</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_apms
									</source_model>
									<sort_order>4</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apms_selector>
							</fields>
						</checkoutcomapms>
						<checkoutcomapplepay type="group" translate="label comment tooltip">
							<label>ApplePay</label>
							<sort_order>2004</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<expanded>0</expanded>
							<fields>
								<active translate="label" >
									<label>Enable ApplePay</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>1</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Make sure you have completed the <strong>Core Settings</strong> in the <strong>Checkout.com Configuration</strong> module before you enable ApplePay]]>
									</comment>
								</active>
								<ckocom_apple_mercahnt_id translate="label">
									<label>Merchant Identifier</label>
									<frontend_type>text</frontend_type>
									<sort_order>2</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[You can find this in your developer portal, or to generate one follow <a href="https://docs.checkout.com/docs/apple-pay" target="_blank">this guide</a>.]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_mercahnt_id>
								<ckocom_apple_certificate translate="label">
									<label>Merchant Certificate</label>
									<frontend_type>text</frontend_type>
									<sort_order>3</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[The absolute path to your <strong>.pem</strong> certificate.]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_certificate>
								<ckocom_apple_key translate="label">
									<label>Merchant Certificate Key</label>
									<frontend_type>text</frontend_type>
									<sort_order>4</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[The absolute path to your <strong>.key</strong> certificate key.]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_key>
								<title translate="label">
									<label>Payment Option Title</label>
									<frontend_type>text</frontend_type>
									<sort_order>5</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[This is the title of the payment option displayed in the checkout page.]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</title>
								<ckocom_apple_location translate="label">
									<label>Location</label>
									<frontend_type>multiselect</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_applelocation
									</source_model>
									<sort_order>6</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_location>
								<ckocom_apple_type translate="label">
									<label>Button Type</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_applebuttontype
									</source_model>
									<sort_order>7</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_type>
									<ckocom_apple_theme translate="label">
									<label>Button Theme</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_applebuttontheme
									</source_model>
									<sort_order>8</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_theme>
								<ckocom_apple_language translate="label">
									<label>Button Language</label>
									<frontend_type>text</frontend_type>
									<sort_order>9</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<validate>validate-length maximum-length-2</validate>
									<comment>
									<![CDATA[ISO 639-1 value of the language. See suported languages <a href="https://applepaydemo.apple.com/" target="_blank">here.</a>]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_apple_language>
							</fields>
						</checkoutcomapplepay>
						<checkoutcomgooglepay type="group" translate="label comment tooltip">
							<label>GooglePay</label>
							<sort_order>2005</sort_order>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<expanded>0</expanded>
							<fields>
								<active translate="label">
									<label>Enable GooglePay</label>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno</source_model>
									<sort_order>1</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Make sure you have completed the <strong>Core Settings</strong> in the <strong>Checkout.com Configuration</strong> module before you enable GooglePay]]>
									</comment>
								</active>
								<ckocom_google_merchant_id translate="label">
									<label>Merchant Identifier</label>
									<frontend_type>text</frontend_type>
									<sort_order>2</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[Your production merchant identifier. For testing use the following value: <strong>01234567890123456789<strong>]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_google_merchant_id>
								<title translate="label">
									<label>Payment Option Title</label>
									<frontend_type>text</frontend_type>
									<sort_order>3</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<comment>
									<![CDATA[This is the title of the payment option displayed in the checkout page]]>
									</comment>
									<depends>
										<active>1</active>
									</depends>
								</title>
								<ckocom_google_style translate="label">
									<label>Button Type</label>
									<frontend_type>select</frontend_type>
									<source_model>
									ckopayment/adminhtml_system_config_source_googlebuttontype
									</source_model>
									<sort_order>4</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
									<depends>
										<active>1</active>
									</depends>
								</ckocom_google_style>
							</fields>
						</checkoutcomgooglepay>
					</fields>
				</checkoutcom_group_all_in_one>
			</groups>
		</payment>
	</sections>
</config>
