.apmLabel > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.apmLab {
    border: 2px solid #00E59E;
    display: table-cell;
}


/* The Modal (background) */
.ckoModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

body#checkout .cko-modal-content{
  background-color:#ffffff;
}

/* Modal Content/Box */
.cko-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#idealInfo label {
}

#idealInfo select {
}

#idealInfo{
  display: grid;
}

#issuer{
  max-width: fit-content;
}

#boletoInfo label {
    display: table-cell;
    text-align: left;
    padding-right: 10px;
}

#boletoInfo input{
  display: table-cell;
  margin-bottom: 10px;
  width: auto;
}
div.boleto-row{
    display:table-row;
}
#qiwiInfo input {
  max-width: fit-content;
  width: auto;
}